.favIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 242px;
  margin-top: 5px;
  transition: all 0.5s ease;
  border-radius: 50%;
  background-color: rgb(212, 207, 207);
  box-shadow: 0px 0px 10px;
}

.favIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.favOn {
  background-color: rgb(243, 72, 72);
}

.button_moreInfo {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s ease-in;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  height: 30px;
}

.button_moreInfo .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_moreInfo .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.button_moreInfo .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button_moreInfo:hover {
  background-color: var(--hover-color);
}

.button_moreInfo:hover .arrow {
  background: var(--secondary-color);
}

.button_moreInfo:hover .arrow:before {
  right: 0;
}
