/* Login without Google */
/* @media screen and (min-width: 600px) {
  .container_input {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
  }

  .label_title {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .input_email {
    display: flex;
    margin-right: 15px;
  }

  .input_password {
    display: flex;
    margin-right: 15px;
  }

  .container_button {
    display: flex;
    justify-content: center;
  }
  .button_logIn {
    margin-top: 15px;
  }

  .button_logIn:hover {
    font-weight: bold;
  }
} */

/* @media screen and (max-width: 600px) {
  .container_input {
    display: block;
    max-width: 350px;
    margin: 20px auto 0 auto;
  }

  .label_title {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .input_email {
    display: flex;
    margin-bottom: 15px;
  }

  .formControl_email{
    margin-left: 52px;
    margin-right: 10px;
  }

  .input_password {
    display: flex;
    margin-right: 10px;
  }

  .container_button {
    display: flex;
    justify-content: center;
  }
  .button_logIn {
    margin-top: 15px;
  }

  .button_logIn:hover {
    font-weight: bold;
  }
} */

/* Google Login */
@media (width <= 762px) {
  .loginContainer {
    max-width: 300px;
    width: auto;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px grey;
    background-color: whitesmoke;
  }

  .login_title {
    text-align: center;
    position: relative;
    top: 25px;
    font-weight: bolder;
    font-size: 25px;
  }
  /* Google btn */
  .S9gUrf-YoZ4jf {
    display: flex;
    justify-content: center;
    margin-top: 45px !important;
    border: none;
  }
}

@media (width >= 762px) {
  .loginContainer {
    max-width: 300px;
    width: auto;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px grey;
    background-color: whitesmoke;
  }

  .login_title {
    text-align: center;
    position: relative;
    top: 25px;
    font-weight: bolder;
    font-size: 35px;
  }
  /* Google btn */
  .S9gUrf-YoZ4jf {
    display: flex;
    justify-content: center;
    margin-top: 45px !important;
    border: none;
  }
}
